div.main-header {
  background-color: @dark;
  background-image: url("/static/leaderboard.png");
  background-position-x: center;
  background-size: 1280px 960px;
  background-repeat: no-repeat;
}

nav.bg-inverse {
  background-color: transparent !important;
}

.jumbotron {
  background-color: transparent !important;
  border-radius: 0;
  color: @light;

  form.form-inline {
    display: inline-block;
  }

  input {
    margin-right: 10px;
  }

  .or {
    padding: 16px 0 20px;
  }
}