
.container.leaderboard-detail {
  padding: 0;
}

@media (max-width: 767px) {
  .container.leaderboard-detail {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container.leaderboard-detail {
    width: 768px;
  }
}

.bottom-margin {
  margin-bottom: 50px;
}