
.top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leaderboard {
    background: @white;
    border: 1px solid @border;
    border-top: 0;
    padding: 0;

    .top {
        margin-bottom: 20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: @dark;

        &.empty {
            background-size: 39%;
        }

        .overlay {
            padding: 200px 20px 20px;
            background-color: @blackOverlay;
            color: @light;

            h3 {
                padding: 20px 0 10px;
            }

            p {
                margin: 0;
            }
        }
    }

    .top-item {
        position: relative;
        top: 20px;
        padding-left: 0;
        padding-right: 0;
        &:first-child {
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }

        &.top-item1 {
            top: 0;
        }

        img {
            display: block;
            margin: auto;
        }

        .pod {
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
            background: @dark;
            color: @light;

            &.pod1 {
                height: 60px;
            }
        }
    }

    ul.list-group {
        margin-top: 20px;
        .list-group-item {
            border-bottom: 1px solid @border;
        }
    }
}

@media (max-width: 767px) {
    .leaderboard {
        border: 0;
        border-radius: 0;

        .top {
            .overlay {
                padding-top: 120px;
            }
        }
    }
}

@media (min-width: 992px) {
    .leaderboard.in-card {
        border-radius: 5px;
        .top {
            .top-radius;
            .overlay {
                .top-radius;
                padding: 80px 10px 10px;
            }
        }
    }
}