
.top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leaderboard {
    background: @white;
    border: 1px solid @border;
    padding: 0;
    border-radius: 5px;

    .top {
        .top-radius;
        margin: 0;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: @dark;

        .overlay {
            .top-radius;
            padding: 200px 20px 20px;
            background-color: @blackOverlay;
            color: @light;

            h3 {
                padding: 20px 0 10px;
            }

            p {
                margin: 0;
            }
        }
    }

    .top-item {
        img {
            display: block;
            margin: auto;
        }
    }
}