@import 'variables.less';
@import 'layout.less';
@import 'header.less';
@import 'input.less';
@import 'button.less';
@import 'home.less';
@import 'typography.less';

@import 'leaderboard.less';

body {
  background-color: @light;
}

.spacer {
  padding: 5px 0;
}
.spacer7 {
  padding: 7px 0;
}
